root = true

[*]
charset = utf-8

[*.js]
indent_style = space
indent_size = 2

[*.vue]
indent_style = space
indent_size = 2

[*.scss]
indent_style = space
indent_size = 4

[*.css]
indent_style = space
indent_size = 4

[{package.json}]
indent_style = space
indent_size = 2

[EvalScript/**.js]
indent_style = space
indent_size = 4