$box-shadow-stack: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
$default-font-size: 10pt;

.grid-column-header {
    font-size: $default-font-size;
}

.checkbox {
    input, label {
        &:hover {
            cursor: pointer;
        }
    }
    label {
        font-size: 9pt;
    }
}

label {
    font-size: 11pt;
}

header {
    height: 12%;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

button {
    &:hover {
        cursor: pointer;
    }
}

.btn {
    font-size: $default-font-size;
    span {
        &:hover {
            cursor: pointer;
        }
    }
    &:active {
        background-image: linear-gradient(to bottom, #EFE2E2 0%, #DDCBCB 100%) !important;
    }
}

.btn-with-text {
    span {
        &:hover {
            cursor: pointer;
        }
    }
    /** The button icon */
    span:nth-child(1) {
        margin-right: 7px;
    }
}

input {
    font-size: 11pt !important;
    height: 29px;
    &:hover {
        cursor: text;
    }
}

textarea {
    font-size: $default-font-size;
    resize: none;
    &:hover {
        cursor: text;
    }
}

select.free-select {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06);
    -webkit-app-region: no-drag;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 3px 8px;
    font-size: 12px;
    line-height: 1.4;
    color: #333;
    white-space: nowrap;
    margin-bottom: 0px;
    border: 1px solid transparent;
    border-radius: 4px;
    border-top-color: #c2c0c2;
    border-right-color: #c2c0c2;
    border-bottom-color: #a19fa1;
    border-left-color: #c2c0c2;
    background-color: #fcfcfc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f1f1f1));
    background-image: linear-gradient(to bottom, #fcfcfc 0%, #f1f1f1 100%);
}

.tab-group {
    .tab-item {
        height: 20px;
    }
}

.nav-group-item {
    font-size: $default-font-size;
    cursor: pointer;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.nav-group-item {
    cursor: pointer;
}

.toolbar-input {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06);
    -webkit-app-region: no-drag;
    cursor: text;
    display: inline-block;
    padding: 3px 8px;
    margin-left: 4px;
    font-size: 12px;
    line-height: 1.4;
    white-space: nowrap;
    margin-bottom: 0px;
    border-radius: 4px;
}

.file-path-header-label {
    transform: translateY(2px);
}

.header-label {
    font-size: 11pt;
    margin-left: 5px;
}

.header-input {
    width: 80px;
}

.footer-label {
    font-size: 11pt;
    margin-left: 5px;
}

.footer-input {
    width: 80px;
}

.table-wrapper {
    overflow: auto;
    thead th {
        position: sticky;
        top: 0px;
        background-color: #f3f2f3;
        cursor: pointer;
    }
    td {
        max-width: 200px;
        border-right: 1px solid #ddd;
    }
}

.crude-modal {
    z-index: 10; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    > .crude-modal-body {
        box-shadow: $box-shadow-stack;
        background-color: #181818;
        height: 380px;
        width: 700px;
        border: 2px solid #ddd;
        border-radius: 4px;
        > img {
            position: absolute;
            top: 28%;
            left: 30%;
        }
        > .modal-error-message {
            color: white;
            font-size: 16pt;
            position: absolute;
            top: 38%;
            left: 10%;
        }
    }
    > .form-modal {
        color: white;
        background-color: #1E1E1E;
        padding-left: 40px;
        padding-right: 40px;
        .form-group-wrapper {
            label {
                width: 120px;
                transform: translateY(14px);
                font-size: 10pt;
            }
            input {
                color: white;
                background-color: #383838;
                border: 1px solid #262424;
            }
        }
    }
    .btn {
        color: white;
    }
}

.header-grid-wrapper {
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 2px;
    grid-template-columns: 100px auto minmax(120px, 200px) 100px;
    button {
        margin-left: 7px;
    }
    .script-inputs {
        input:nth-child(1) {
            width: 20%;
        }
        input:nth-child(2) {
            width: 75%;
            float: right;
        }
    }
}

#config-file-path {
    width: 60%;
    filter: brightness(95%);
}

.multi-editor-container {
    position: relative;
    display: grid;
    // grid-template-columns: 50% 50%;
    grid-template-columns: 20% 40% 40%;
    height: 88%;
    width: 100%;
}

.modal-editor-container {
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    height: 100%;
    width: 100%;
}

.myInlineDecoration {
    color: red !important;
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
    font-style: oblique;
}

.myLineDecoration {
    background: lightblue;
    width: 5px !important;
    margin-left: 3px;
}

/// Start dark mode
.toolbar {
    background-image: linear-gradient(to bottom, #323130 0%, #2b2b2a 100%);
    box-shadow: 0 1px 1px #323130;
}

.toolbar-header {
    border-top: 1px solid rgb(38, 36, 36);
    border-bottom: 1px solid rgb(38, 36, 36);
}

footer {
    background-color: #323130;
}

.toolbar-footer {
    border-top: 1px solid rgb(38, 36, 36);
    border-bottom: 1px solid rgb(38, 36, 36);
}

.header-label {
    color: white;
}

.footer-label {
    color: white;
}

.btn, .btn-default {
    background-image: linear-gradient(to bottom, #383838 0%,#323130 100%);
    border: 1px solid rgb(29, 28, 28);
    span, .icon {
        color: white;
    }
}

.btn-group .btn + .btn {
    border-left: 1px solid rgb(29, 28, 28);
}

.toolbar-input {
    color: white;
    background-image: linear-gradient(to bottom, #383838 0%, #323130 100%);
    border: 1px solid rgb(38, 36, 36);
}

.form-control {
    border: 1px solid rgb(38, 36, 36);
}

select {
    font-size: $default-font-size !important;
    color: white;
    background-image: linear-gradient(to bottom, #383838 0%, #323130 100%);
    border: 1px solid rgb(38, 36, 36);
    option {
        color: white;
        background-image: linear-gradient(to bottom, #383838 0%, #323130 100%);
        background-color: #383838;
        font-size: $default-font-size !important;
    }
}

.file-tree-view {
    .nav-group-title,
    .nav-group-item {
        color: rgb(197, 197, 197);
        &.active-file-in-tree {
            $alt-active-border-stack: 1px solid #929292;
            border-top: $alt-active-border-stack;
            border-bottom: $alt-active-border-stack;
            padding-left: 2px;
        }
        &.active {
            color: #2b2b2a;
        }
    }
}
/// End dark mode

.theme-text {
    text-transform: capitalize;
}

.footer-left-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
    align-items: center;
}

.file-tree-view {
    text-overflow: ellipsis;
    overflow-y: auto;
    .files-in-tree-container {
        margin-bottom: 7px;
    }
}